/* dots */
.slick-dots {
	margin-left:0;
	margin-right:0;
}

.slick-slider {
	/* Must correspond with .slick-slider padding */
	margin:0 -0.2rem;
}

.slick-slide {
	/* Must correspond with .slick-slide margin */
	padding:0 0.2rem;
}

/* image */
.slick-slide figure {
	margin:0;
}
.slick-slide img {
	height: auto;
}

.slickcontentelement.outerwrap {
	position: relative;
}
.slickcontentelement .contentwrap {
	background: rgba(255,255,255,0.3);
	color:white;
	position: relative;
	/*height: 140px;*/
	bottom: 0;
	padding: 0.4rem 0.4rem;
	position: absolute;
	width:100%;
}
.slickcontentelement.layout-1 .contentwrap {
	width:auto;
}
.slickcontentelement.layout-2 .contentwrap {
	background: inherit;
	text-shadow: 0px 0px 4px #000000;
	width:inherit;
}
.slickcontentelement .contentwrap *,
#startBox01 .slick-slider .contentwrap * {
	color:white;
}
/* header, text */
.slickcontentelement .slick-header {
	font-size:1.4rem;
	font-weight:bold;
}
.slickcontentelement .slick-text,
.slickcontentelement .slick-text p,
#startBox01 .slickcontentelement .slick-text,
#startBox01 .slickcontentelement .slick-text p {
	font-size:1rem;
	line-height:1.2rem;
	margin:0;
}
.slickcontentelement.layout-2 .slick-text,
.slickcontentelement.layout-2 .slick-text p,
#startBox01 .slickcontentelement.layout-2 .slick-text,
#startBox01 .slickcontentelement.layout-2 .slick-text p {
	font-weight:bold;
}

/* #t4060 */
.slick-sync figcaption {
	display: none;
}